# WhatsApp API Configuration
WHATSAPP_TOKEN=tu_token_de_whatsapp
WHATSAPP_VERIFY_TOKEN=tu_token_de_verificacion
WHATSAPP_APP_SECRET=tu_app_secret_de_whatsapp
PHONE_NUMBER_ID=tu_id_de_telefono

# OpenAI Configuration
OPENAI_API_KEY=tu_api_key_de_openai
OPENAI_ASSISTANT_ID=tu_id_del_asistente

# App Configuration
APP_ENV=development  # development, production, testing
APP_VERSION=1.0.0
PORT=3000
DEBUG=True