#Meta
ACCESS_TOKEN=""
APP_ID=""
APP_SECRET=""
RECIPIENT_WAID="" #Numero personal para testeo. Debe incluir código de país (e.j., +50212345678)
VERSION="v22.0"
PHONE_NUMBER_ID=""
#Meta webhook
VERIFY_TOKEN=""
#OpenAI
OPENAI_API_KEY=""
OPENAI_ASSISTANT_ID=""
#Odoo
ODOO_WEBHOOK_URL_TICKETS=""